.pageIdentify{
    max-width: 100%;
    padding:20px;
    background-color: #141d26ed;
    position: sticky;
    top: 0px;
    color:  #61dafb;
    font-weight: bold;
    font-size: 20px;
    z-index: 999;
}

.mainContent {
    
}

.profilePost {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(63, 63, 63) ;
    padding: 20px;
}

.postBox {
    width:89%;
}

.profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.imgOrPost {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.postBox > textarea {
    width: 95%;
    background-color: transparent;
    color: #61dafb;
    height: 100px;
    margin-bottom: 10px;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
  }

.loading {
    color: #61dafb;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.post {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 1000px;
    color: #61dafb;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 5px;
    border: solid 1px #61dafb;
}

.matic {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 1000px;
    color: #61dafb;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 5px;
    border: solid 1px #61dafb;
}

.matic:hover {
    cursor: pointer;
    background-color: #8247e5;
}

.post:hover {
    cursor: pointer;
    background-color: #61dafb;
    color: black;
}

.postOptions {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.imgDiv{
    border-radius: 50%;
    padding: 10px;
}

.imgDiv:hover{
    cursor:pointer;
    background-color: #282828;
}
.postImg {
    width: 98%;
    border-radius: 10px;
}